In [28]:
import pandas as pd

In [29]:
rankings = pd.read_csv('data/final_rankings.csv')

In [30]:
df_main = pd.read_csv('data/SAP Datasets.csv')

C:\Users\06pau\AppData\Local\Temp\ipykernel_11116\2592756498.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv('data/SAP Datasets.csv')

In [31]:
# Forward and backward filling
years_col = [str(i) for i in range(2000,2024)]
df_main[years_col] = df_main[years_col].apply(lambda row: row.ffill().bfill(), axis=1)

In [32]:
df_new = df_main[['Country Name', 'Country Code', 'Indicator Name', 'Topic', 'Indicator Code',
       'Unit of measure', '2022','2023']]

In [33]:
df_new = df_new.merge(rankings, on='Country Name', how='left')

In [36]:
df_new = df_new[~df_new['Indicator Name'].isin(['Population, total'])]

In [40]:
df_transformed = df_new.pivot(index=['Country Name', 'Country Code', 'mean_rank','rank'], columns='Indicator Name', values=['2022', '2023'])
df_transformed.columns = [f'{year}_{indicator}' for year, indicator in df_transformed.columns]
df_transformed.reset_index(inplace=True)

In [41]:
df_transformed

,Country Name,Country Code,mean_rank,rank,2022_Access to clean fuels and technologies for cooking (% of population),"2022_Access to clean fuels and technologies for cooking, rural (% of rural population)","2022_Access to clean fuels and technologies for cooking, urban (% of urban population)",2022_Access to electricity (% of population),"2022_Access to electricity, rural (% of rural population)","2022_Access to electricity, urban (% of urban population)",...,2023_Unemployment with basic education (% of total labor force with basic education),2023_Unemployment with intermediate education (% of total labor force with intermediate education),"2023_Unemployment, total (% of total labor force) (national estimate)",2023_Urban population (% of total population),"2023_Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","2023_Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","2023_Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",2023_Wanted fertility rate (births per woman),2023_Women who were first married by age 15 (% of women ages 20-24),2023_Women who were first married by age 18 (% of women ages 20-24)
0,Afghanistan,AFG,91.966504,226,36.100000,18.500000,85.000000,85.300000,81.700000,95.900000,...,6.754000,8.879000,5.679000,26.933000,8.878202,18.841205,18.259346,4.400000,9.6,28.7
1,Africa Eastern and Southern,AFE,135.600571,261,21.863139,9.261320,41.011132,48.711995,33.747907,75.922121,...,NaN,NaN,NaN,38.335337,20.164671,29.393837,25.069640,NaN,NaN,NaN
2,Africa Western and Central,AFW,120.850325,253,22.319404,6.709029,42.019407,55.437577,25.226198,86.685517,...,2.429684,5.261144,3.031437,49.635410,13.838867,20.440624,17.564789,4.466846,NaN,NaN
3,Albania,ALB,50.659578,85,84.600000,69.000000,94.500000,100.000000,100.000000,100.000000,...,10.109000,13.279000,11.474000,64.603000,49.573476,45.277198,47.177277,1.600000,1.4,11.8
4,Algeria,DZA,51.366593,87,99.700000,98.900000,99.900000,100.000000,99.300000,100.000000,...,10.930000,11.260000,12.000000,75.268000,74.032838,67.930374,68.978348,NaN,0.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,57.061345,111,NaN,NaN,NaN,100.000000,100.000000,100.000000,...,21.603000,24.009000,24.420000,77.582000,77.067218,75.990584,76.172663,NaN,0.7,13.4
262,World,WLD,94.292994,233,73.843840,54.505338,88.967223,91.352571,83.986540,97.664546,...,NaN,NaN,6.206632,57.337162,53.091130,51.253073,51.981562,NaN,NaN,NaN
263,"Yemen, Rep.",YEM,75.069671,175,48.300000,26.300000,87.600000,76.000000,65.000000,96.100000,...,12.753000,17.298000,13.467000,39.831000,34.451113,46.293400,45.522387,3.100000,6.5,29.6
264,Zambia,ZMB,81.969314,195,9.000000,2.200000,16.600000,47.800000,14.500000,87.000000,...,4.470000,11.044000,5.995000,46.335000,17.620527,34.436990,26.980686,4.000000,5.2,29.0
265,Zimbabwe,ZWE,91.355905,224,30.800000,7.200000,78.200000,50.100000,33.700000,89.000000,...,8.952000,12.427000,10.087000,32.517000,30.630750,42.377150,36.534285,3.600000,5.4,33.7