In [1]:
import pandas as pd

In [2]:
country_pre_rank_df = pd.read_csv('./data/country_initial_rankings.csv', index_col=0)

In [3]:
indicator_result_df = pd.read_csv('./data/indicator_result_df.csv')

In [4]:
country_pre_rank_df.head()

,Country Name,Control of Corruption: Estimate,Multilateral debt service (% of public and publicly guaranteed debt service),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to clean fuels and technologies for cooking (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Access to electricity (% of population),Compensation of employees (current LCU),...,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Wanted fertility rate (births per woman),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)",Urban population (% of total population),Average_Rank
0,Afghanistan,192.318182,130.705882,181.304348,163.130435,182.347826,184.950000,188.130435,201.434783,46.166667,...,237.913043,6.0,6.0,5.5,2.0,257.708333,17.583333,258.541667,242.958333,106.150833
1,Africa Eastern and Southern,NaN,NaN,181.347826,185.739130,186.478261,222.714286,236.217391,238.043478,NaN,...,232.826087,NaN,NaN,NaN,NaN,233.791667,42.333333,232.000000,218.250000,147.103090
2,Africa Western and Central,NaN,NaN,202.217391,203.086957,201.043478,216.173913,215.652174,217.782609,NaN,...,246.304348,10.0,NaN,NaN,9.5,241.291667,47.708333,241.541667,184.916667,134.201432
3,Albania,137.818182,72.652174,127.565217,132.652174,131.434783,22.217391,84.304348,57.391304,55.142857,...,60.304348,1.0,4.0,3.5,1.5,87.500000,200.000000,78.500000,144.458333,59.917138
4,Algeria,136.590909,23.478261,71.565217,51.956522,70.565217,116.000000,99.173913,109.130435,NaN,...,37.695652,NaN,1.0,1.0,NaN,118.875000,106.458333,145.291667,92.625000,59.434774

In [5]:
# First, create a dictionary mapping Indicator Name -> Normalized Count
multiplier_map = dict(zip(indicator_result_df['Indicator Name'], 
                          indicator_result_df['Normalized Count']))

# Loop through each column in country_post_rank_df
for col in country_pre_rank_df.columns:
    if col in multiplier_map:
        country_pre_rank_df[col] *= multiplier_map[col]

country_post_rank_df = country_pre_rank_df.copy()

In [6]:
country_post_rank_df['mean_rank'] = country_post_rank_df.drop('Country Name', axis=1).mean(axis=1)

In [7]:
final_rankings = country_post_rank_df.sort_values('mean_rank', ascending=True)[['Country Name', 'mean_rank']].reset_index(drop=True)

In [8]:
final_rankings['rank'] = final_rankings.index + 1

In [32]:
final_rankings.to_csv('final_rankings.csv', index=False)

In [9]:
final_rankings

                                     Country Name   mean_rank  rank
0                                       Singapore   25.553209     1
1                                     Switzerland   26.884541     2
2                                  Cayman Islands   27.838874     3
3                                     Korea, Rep.   29.188156     4
4                                     Netherlands   29.406586     5
..                                            ...         ...   ...
261  Least developed countries: UN classification  139.357120   262
262                      Pre-demographic dividend  139.821747   263
263        Heavily indebted poor countries (HIPC)  141.609746   264
264                   Pacific island small states  144.611009   265
265                                Not classified         NaN   266

[266 rows x 3 columns]